.weatherInfo {
  display: flex;
  flex-direction: column;
}
.weatherInfo.hidden {
  display: none;
}
.locationInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.location-description {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
}

.weather-cards {
  border: 2px solid #28a745;
  display: flex;
  justify-content: space-evenly;
}
.weather-card {
  border: 2px solid #28a745;
  background-color: #28a745;
  border-radius: 20px;
  padding: 7px;
  flex-direction: column;
  align-items: center;
}

/* here */
#scale {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#scale:hover {
  background-color: #45a049;
}

#scale:active {
  background-color: #3e8e41;
}
